*.py diff=python
*.c diff=cpp
*.h diff=cpp
*.cc diff=cpp
*.cpp diff=cpp
*.hpp diff=cpp
*.ino diff=cpp
# python scripts without a .py extension
Tools/Scripts/git-sd1 diff=python
Tools/Scripts/hooks/* diff=python
# cmd.exe needs crlf, whatever the checkout it comes from
*.cmd text eol=crlf
